body
{
	background-color: #f0f0f0;
}

.maxWrap
{
	width: 95%;
	margin: auto;
}

a
{
	cursor: pointer;
}

.errorFlash
{
	border-radius: 10px;
}

#toast-container
{
	top: auto !important;
	right: auto !important;
	bottom: 10%;
	left:7%;
}

.containerMedium
{
	width: 80%;
	margin: auto;
}

.spacingTop
{
	padding-top: 10px;
}

.paddingTop
{
	padding-top: 15px;
}

.marginLeft
{
	margin-left: 30px !important;
}

strong
{
	color: #f57c00;
	font-size: 15px;
}

.dropdown-content strong
{
	font-size: 12px;
}

.hidden
{
	display: none;
}

.row
{
	margin-bottom: 0 !important;
}

.marginRightSmall
{
	margin-right: 8px !important;
}




.welcome
{
    margin-top: 20px;
    padding-right: 10px;
}

.profilePicNav
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
	margin-top: 12px;
}

#postPic
{
	width: 500px;
	height: 300px;
	object-fit: cover;
	margin-bottom: 10px;
}

.postsPic
{
	height: 330px;
}

.searchNav
{
	margin-top: 12px !important;
	padding: 10px !important;
	border-radius: 5px !important;
	width: 375px !important;
}

.searchButton
{
	padding-top: 0px !important;
}

.searchBarModal
{
	padding-left: 5px !important;
}

.searchButtonModal
{
	margin-top: 10px !important;
}

.circle
{
	width: 40px !important;
	height: 40px !important;
}

.profileBar
{
	margin-top: 12px;
}

.profileLink
{
	line-height: 10px;
	font-size: 20px;
	padding-left: 35px;
}

.noUsersDropdown
{
	width: 382.17px;
}

.profileImageComment
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.postTimestamp
{
	color: #b0bec5;
	font-size: 12px;
	margin-top: 10px !important;
}

.card-action
{
	margin-top: 10px !important;
}

.settings
{
	cursor: pointer;
}

.select2
{
	width: 100% !important;
}

#searchTagID
{
	font-size: 12px;
}

.cancelReply
{
	font-size: 13px;
}

.replyBox
{
	border-left: 1px solid #e0e0e0;
}

.like
{
	transition: all .08s ease;
}

.liked
{
	transform: scale(1.3);
	color: #f57c00 !important;
}

footer
{
	height: 70px;
}





@media only screen and (max-width: 500px)
{
	.maxWrapSmall
	{
		width: 95%;
		margin: auto;
	}

	.profilePicNav
	{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		cursor: pointer;
		margin-top: 9px;
	}

	#postPic
	{
		width: 250px;
		height: 150px;
		object-fit: cover;
		margin-bottom: 10px;
	}

	.postsPic
	{
		height: 280px;
	}

	.postEnlarge
	{
		padding: 0 10px 0 10px !important;
	}

	.paddingOff
	{
		padding: 0 !important;
	}

	.paddingComment
	{
		padding-top: 5px !important;
		padding-left: 8px !important;
	}
}