body
{
	background-color: #f0f0f0;
}

.errorFlash
{
	border-radius: 10px;
}

#toast-container
{
	top: auto !important;
	right: auto !important;
	bottom: 10%;
	left:7%;
}

.containerMedium
{
	width: 80%;
	margin: auto;
}

.spacingTop
{
	padding-top: 10px;
}

.welcome
{
    margin-top: 20px;
    padding-right: 10px;
}

strong
{
	font-size: 12px;
	color: #f57c00;
}

.profilePicNav
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
	margin-top: 12px;
}

#postPic
{
	width: 500px;
	height: 300px;
	object-fit: cover;
	margin-bottom: 10px;
}

.postsPic
{
	height: 330px;
}

.hidden
{
	display: none;
}

.searchNav
{
	margin-top: 12px !important;
	padding: 10px !important;
	border-radius: 5px !important;
	width: 375px !important;
}

.searchButton
{
	padding-top: 0px !important;
}

.searchBarModal
{
	padding-left: 5px !important;
}

.searchButtonModal
{
	margin-top: 10px !important;
}

.row
{
	margin-bottom: 0 !important;
}

.circle
{
	width: 40px !important;
	height: 40px !important;
}

.profileBar
{
	margin-top: 12px;
}

.profileLink
{
	line-height: 10px;
	font-size: 20px;
	padding-left: 35px;
}

.noUsersDropdown
{
	width: 382.17px;
}

.profileImageComment
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.postTimestamp
{
	color: #b0bec5;
	font-size: 12px;
	margin-top: 10px !important;
}

.card-action
{
	margin-top: 10px !important;
}

.settings
{
	cursor: pointer;
}

.select2
{
	width: 100% !important;
}

#searchTagID
{
	font-size: 12px;
}

footer
{
	height: 70px;
}


@media only screen and (max-width: 500px)
{
	.profilePicNav
	{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		cursor: pointer;
		margin-top: 9px;
	}

	#postPic
	{
		width: 250px;
		height: 150px;
		object-fit: cover;
		margin-bottom: 10px;
	}

	.postsPic
	{
		height: 280px;
	}

	.paddingOff
	{
		padding: 0 !important;
	}

	.paddingComment
	{
		padding-top: 5px !important;
		padding-left: 8px !important;
	}
}