body
{
	background-color: #f0f0f0;
}

.containerMedium
{
	width: 80%;
	margin: auto;
}

.welcome
{
    margin-top: 20px;
    padding-right: 10px;
}

strong
{
	font-size: 12px;
	color: #f57c00;
}

.profilePicNav
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
	margin-top: 12px;
}

#postPic
{
	width: 500px;
	height: 300px;
	object-fit: cover;
	margin-bottom: 10px;
}

.hidden
{
	display: none;
}

.searchNav
{
	margin-top: 12px !important;
	padding: 10px !important;
	border-radius: 5px !important;
	width: 375px !important;
}

.searchButton
{
	padding-top: 0px !important;
}

.searchBarModal
{
	padding-left: 5px !important;
}

.searchButtonModal
{
	margin-top: 10px !important;
}

.row
{
	margin-bottom: 0 !important;
}

.circle
{
	width: 40px !important;
	height: 40px !important;
}

.profileBar
{
	margin-top: 12px;
}

.profileLink
{
	line-height: 10px;
	font-size: 20px;
	padding-left: 35px;
}

.noUsersDropdown
{
	width: 382.17px;
}



@media only screen and (max-width: 500px)
{
	.profilePicNav
	{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		cursor: pointer;
		margin-top: 9px;
	}
}