html
{
	padding: 0;
	margin: 0;
	background-color: #ef6c00;
}

.marginOff
{
	margin: 0;
}

.logo
{
	position: relative;
	margin-top: 200px;
	left: 35%;
	width: 400px;
	height: auto;
}



@media only screen and (max-width: 500px)
{
	.logo
	{
		left: 25%;
		width: 200px;
	}
}