strong
{
	color: #f57c00;
	font-size: 15px;
}

.dropdown-content strong
{
	font-size: 12px;
}

.spacingTop
{
	padding-top: 10px;
}

.profileLinkMain
{
	text-decoration: none;
	color: #000;
}

.pic
{
	height: 300px;
}

.profileImage, .profileImageComment
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.settings
{
	cursor: pointer;
}

.postTimestamp
{
	color: #b0bec5;
	font-size: 13px;
}

footer
{
	height: 70px;
}



@media only screen and (max-width: 500px)
{
	.profileImageComment
	{
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}

	.paddingOff
	{
		padding: 0 !important;
	}

	.marginOff
	{
		margin: 0 !important;
	}

	.spacingTop
	{
		padding-top: 5px !important;
	}

	.paddingComment
	{
		padding-top: 5px !important;
		padding-left: 8px !important;
	}
}